.container.architecture {
 /* >img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: block;
*/
    background: url('../img/full/diagram-infura.png') no-repeat;
    background-size: auto 300px;
    background-position: center 90%;
    height: 260px;

    @include breakpoint(600px) {
      background-size: auto 400px;
      height: 350px;
    }

    @include breakpoint(700px) {
      background-size: auto 500px;
      height: 420px;
    }

    @include breakpoint(850px) {
      background-size: auto 565px;
      background-position: center 70%;
      height: 450px;
    }

}
