.decentralisation {

  min-height: 420px;
  position: relative;
  //background: linear-gradient(to bottom, #6378ab 0%,#3c5596 42%,#3c5596 100%);
  background: linear-gradient(to bottom, #3c5596 0%,#6378ab 68%,#3c5596 79%,#3c5596 100%);


  .decentralisation--bg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 165px;
      opacity: 0.30;
      background: url('../img/svg/bg-cityscape.svg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .decentralisation--text {
    position: relative;
    z-index: 100;
    padding: 2em 1em 0 1em;

    @include breakpoint(600px) {
      padding-top: 3em;
    }

    p, h4 {
      display: block;
      max-width: 500px;
      margin-right: auto;
      margin-left: auto;
      max-width: 34em;
    }
    h4 {
      font-size: 1.2em;
    }

  }

  .decentralisation--text {

    p, h4 {
      color: $text-color-light;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      max-width: 34em;
      line-height: 1.8em;
      margin-bottom: 0.5em;

      &.decentralisation--gateway {
        @extend %heading-yellow;
          line-height: 1.5em;
      }
    }
  }

}
