.footer-imprint {
  display: flex;

  .footer-imprint--logo,
  .footer-imprint--consensys,
  .footer-imprint--logo {
    padding: 1em;
    >svg{
      width: 100%;
      height: auto;
    }
  }

  .footer-imprint--logo {
    display: none;
    @include breakpoint(600px) {
      display: block;
      background-image: url('/assets/img/svg/infura-logo-footer.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;
      margin-right: 1em;
    }
  }

  .footer-imprint--logo {
    width: 35em;
    padding-left: 0;
  }

  .footer-imprint--text {
  }

  .footer-imprint--consensys {
  }

}
