.header {

  &.container{
    display: flex;
    flex-direction: column-reverse;
  }

  .header--logo {
    //width: 55%;
    margin: 4em auto 0;
    //.header--logo--svg {}
  }

  .header--branding {
    @extend .godzilla;
    text-align: center;
    background-size: contain;
    min-height: 400px;
    margin-top: 2em;
    margin-bottom: 1em;
    background-position: 95% top;

    >h1 {
      color: $white;
      font-size: 3.2em;
      margin-bottom: .2em;
    }

    .header--mission {
      color: $gray-light;
      font-size: 1.2em;
      font-weight: $font-weight-light;
      max-width: 90%;
      margin: 0 auto;
      line-height: 1.8em;

      @include breakpoint(600px) {
        max-width: 55%;
      }
    }

    .btn.btn-lg {
      margin: 1em 0 3em;
      color: $blue;
      border-radius: 2em;
      text-transform: uppercase;
      background-color: $yellow-light;
      border-color: $yellow-light;
      padding: 1em 2em;
      font-size: 1em;

      &:hover {
        background-color: $cyan;
        border-color: $cyan;
        color: $white;
      }
    }
  }
}
