.navigation {
  @include clearfix();

  .nav--list {
    @include inline-list();
    float: right;
    padding-top: 2em;

    .nav--list-item {
      display: inline-block;
      padding: 0 1em;
      border-bottom: 1px solid $blue-mid;

      & >a {
        display: inline-block;
        padding: 1em;
        text-transform: uppercase;
        color: $white;
        font-weight: $font-weight-light;
        letter-spacing: 2px;
        font-size: 0.8em;

      }

      &.is-active,
      &:hover {
        border-bottom-color: $cyan;
        >a {
          text-decoration: none;
        }
      }

    }
  }
}
