.navigation {
  @include clearfix();

  .nav--list {
    @include inline-list();
    float: right;
    padding-top: 2em;

    .nav--list-item {
      display: inline-block;
      border-bottom: 1px solid $blue-mid;

      & >a {
        display: inline-block;
        padding: 1em .8em;
        text-transform: uppercase;
        color: $white;
        font-weight: $font-weight-light;
        letter-spacing: 1px;
        font-size: 0.7em;

        &.twitter > .svg-icon {
          fill: $blue-lighter;
          height: 1.4em;
          vertical-align: bottom;
          width: 1.3em;
        }

        @include breakpoint(420px) {
          letter-spacing: 2px;
          font-size: 0.8em;
        }

        @include breakpoint(600px) {
          padding-right: 2em;
          padding-left: 2em;
        }
      }

      &.is-active,
      &:hover {
        border-bottom-color: $cyan;
        >a {
          text-decoration: none;
          color: $cyan;
        }
      }

    }
  }
}
