.peering {
  display: flex;
  color: $white;
  position: relative;

  h2 {
    @extend %heading-yellow;
    font-family: $font-family-secondary;
    font-weight: $font-weight-secondary-semiheavy;
    letter-spacing: 1px;
    font-size: 2.5em;
  }

  strong {
    @extend %big-on-blue;
  }

  .peering--image {
    background: url('/assets/img/svg/bg-radiotower-globe.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: none;
  }

  p {
    line-height: 1.7em;
  }

  p > strong {
    font-family: $font-family-secondary;
    font-weight: $font-weight-secondary-light;
    font-size: 2.5em;
    color: $gray-light;
    line-height: 1.2em;
  }

  @include breakpoint(600px) {

    .peering--info {
      width: 50%
    }
    .peering--image {
      display: block;
      width: 30%;
      opacity: .5;
    }
  }
}
