.team {
  text-align: center;
  color: $blue;
  margin: 2em auto;

  >h3 {
    @extend %heading-shadow;
    margin-bottom: 1.5em;
  }

  h4 {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 1.5em;
  }

  .team--list {
    list-style-type: 0;
    padding: 0;
    li {
      display: inline-block;

      p {
        width: 65%;
        margin: 5px auto;
      }
    }
  }
}

.team--img {

  @extend .bg-team;
  border-radius: 50%;
  margin: 0 auto;

  &.team--img-galano {
    @include sprite($team-galano, 'inline-block');
    //width: 200px;
    //height: 200px;
    //
    //background: mediumpurple;

  }

  &.team--img-pietrzak {
    @include sprite($team-pietrzak);
  }

  &.team--img-junge {
    @include sprite($team-junge);
  }

  &.team--img-wuehler {
    @include sprite($team-wuehler, 'inline-block');
  }

}
