.yellow-heading {
  $height: 2.15em;
  &.container-fluid {
    padding: 0 ;
  }

  .yellow-heading--wrapper {
    @extend %bg-yellow;
    height: 6em;
  }


  .container {
    text-align: center;

    h2 {
      padding-top: 15px;
      font-weight: $font-weight-secondary-semiheavy;
      letter-spacing: 1px;
    }
  }
  &::after {
    content: '';
    display: block;
    height: $height;
    @extend %bg-yellow-edge;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  & + div:not(.grid-with-bg) {
    margin-top: -$height;
    padding-top: $height;
  }
}
