// Overriding bootstraps margin-bottom with padding.
p {
  margin: 0;
  padding-bottom: ($line-height-computed / 2);
  line-height: $line-height-base;
  font-weight: $font-weight-default;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: ($line-height-computed / 2);
  padding-top:  $line-height-computed;

  small,
  .small {
    font-size: 65%;
  }

  &.light {
    font-family: $font-family-secondary;
    font-weight: $font-weight-secondary-light;
  }

  &.heavy {
    font-weight: $font-weight-secondary-semiheavy;
    letter-spacing: 1px;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: ($line-height-computed / 2);
  padding-top: ($line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom:  ($line-height-computed / 2);
  ul,
  ol {
    padding-bottom: 0;
  }
}

h2 {
  font-size: 1.8em;
  line-height: 1.3;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6, p {
  & > sup,
  & > .sup {
    top: -1.2em;
    font-size: .4em;
  }
}

%heading {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.3;
  color: $blue;
}

%heading-shadow {
  @extend %heading;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

%heading-yellow {
  color: $yellow-light;
  font-weight: $font-weight-secondary-semiheavy;
  font-size: 2.5em;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

%thin-on-blue {
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: $font-weight-secondary-light;
  color: $gray-light;
  color: $off-white;
  margin-top: .5em;
  letter-spacing: 1px;

  @include breakpoint(600px) {
    font-size: 2.5em;
  }
}

%text-on-blue {
  line-height: 1.7em;
  color: $text-color-light;
}

