//----------------------------------*\
// VARIABLES
//----------------------------------*/

@import 'variables/colors';
@import 'variables/bootstrap';

//----------------------------------*\
// ABSTRACT
//----------------------------------*/

// @import 'abstract/_position.scss';
@import '../../node_modules/compass-sass-mixins/lib/compass';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../../node_modules/singularitygs/stylesheets/singularitygs';


//----------------------------------*\
// BASE
//----------------------------------*/

@import 'base/bootstrap';
@import 'base/type';
@import 'base/sprites';


// @import 'modules/_vars.scss';

//----------------------------------*\
// MODULES
//----------------------------------*/

@import 'modules/backgrounds';
@import 'modules/header';
@import 'modules/services';
@import 'modules/yellow-heading';
@import 'modules/navigation';
@import 'modules/features';
@import 'modules/decentralisation';
@import 'modules/peering';
@import 'modules/architecture';
@import 'modules/devops';
@import 'modules/adopters';
@import 'modules/team';
@import 'modules/footer';
@import 'modules/footer-imprint';
//----------------------------------*\
// LAYOUT
//----------------------------------*/

@import 'layout/global';

